<h1 class="mt-5">Agregar Component</h1>
<hr>


<form [formGroup]="miFormulario">
    <div class="row align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>

        <div class="col-auto">
            <input class="form-control"
                   formControlName="nombre">
        </div>

        <div class="col-auto">
            <span class="form-text" 
                  error-msg
                  color="red"
                  mensaje="Debe de ingresar este campo"
                  *ngIf="tieneError('nombre')">
            </span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary">
                Guardar
            </button>
        </div>
    </div>
</form>

<h3 class="mt-5" color="#6957E6" error-msg>Formulario</h3>
<pre>Value: {{ miFormulario.value | json}}</pre>
<pre>Valid: {{ miFormulario.valid}}</pre>